RewriteEngine on
RewriteCond %{HTTP_HOST} ^thiagonovaes.com [NC]
RewriteRule (.*) https://www.thiagonovaes.com/$1 [L,R=301]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ index.php/$1

Header unset Pragma
FileETag None
Header unset ETag

<FilesMatch "\.(js|css)$">
Header set Cache-Control "max-age=720, must-revalidate"
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>