.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

main{
    display: grid;
    grid-template-columns: 300px auto;
}

header{
    margin: 0;
    color: #2c3e50;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #ecf0f1;
    width: 300px;
    height: 100vh;
    position: fixed;
}

.menu .logo{
    margin: 25px;
    text-align: center;
}

.menu nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin: 0 2rem;
}

.menu ul li{
    list-style: none;
    display: block;
}

.menu ul li a{
    color: #2c3e50;
}

.menu ul li .item-menu-block{
    display: flex;
    gap: 15px;
    margin: 1.2rem 0;
}

.menu ul li .item-menu-block .item_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li .item-menu-block .icon__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    width: 35px;
    height: 35px;
    box-shadow: 1px 1px 5px #aaaaaa;
    border-radius: 4px;
}

/* List Post */
section{
    padding-top: 60px;
    margin: 0 30px;
}

section h1{
    margin: 30px 0;
}

section .posts__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

section .post__item {
    width: 400px;
    background-color: #ecf0f1;
    color: #0a0d0f;
    padding: 20px 30px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 20px 10px;
}

section .post__item .post_info div{
    margin: 7px 0;
}

section .post__item .post_info .title{
    font-size: 18px;
    font-weight: bold;
}


section .post__item .post_info span{
    font-size: 13px;
    font-weight: bold;
}

section .post__item .actions{
    font-size: 1.1rem;
}

section .post__item .actions ul{
    list-style: none;
}

section .post__item .actions ul li{
    margin: 5px 0;
}

/* Fim List Post */

.material-symbols-outlined[name="create"]{
    color: #2ecc71;
}
.material-symbols-outlined[name="create"]:hover{
    color: #27ae60;
}

.material-symbols-outlined[name="trash"]{
    color: #e74c3c;
}
.material-symbols-outlined[name="trash"]:hover{
    color: #c0392b;
}

/* From */
.input__form{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input__form_field{
    outline: none;
    border: solid 0.5px #2980b9;
    padding: 7px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
}
.input__form_field:focus{
    border: solid 0.5px #2980b9;
    box-shadow: 0px 0px 20px 1px #2980b9;
}

.input__form_btn.btn-blue{
    background-color: #2980b9;
    color: #ecf0f1;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    margin: 10px 0;
    width: 100px;
}

.input__form_btn.btn-green{
    background: #27ae60;
    border: #27ae60;
    color: #ecf0f1;
    font-weight: bold;
    cursor: pointer;
}

.input__form_btn.btn-green:hover{
    background: #ecf0f1;
    border: #ecf0f1;
    color: #27ae60;
    font-weight: bold;
    transition: .3s;
}

.input__form_btn.btn-green:focus{
    box-shadow: 0px 0px 20px 1px #27ae60;
}

.input__form_btn.btn-red{
    background: #c0392b;
    border: #c0392b;
    color: #ecf0f1;
    font-weight: bold;
    cursor: pointer;
}

.input__form_btn.btn-red:hover{
    background: #ecf0f1;
    border: #ecf0f1;
    color: #c0392b;
    font-weight: bold;
    transition: .3s;
}

.input__form_btn.btn-red:focus{
    box-shadow: 0px 0px 20px 1px #c0392b;
}

/* Images */

section .add_image {
    margin: 5px;
}

section .content__images{
    display: flex;
    flex-wrap: wrap;
}

section .content__images .content__images-item {
    margin: 5px;
    padding: 3px;  
    border-radius: 4px;
}

section .btn {
    background-color: #2980b9;
    color: #ecf0f1;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    margin: 5px;
}

section .btn.btn-red {
    background-color: #e74c3c;
    color: #ecf0f1;
}

section .btn.btn-green{
    background: #27ae60;
    border: #27ae60;
    color: #ecf0f1;
}