.content__posts{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: start;
    margin: 0 auto;
}

.post__item {
    align-content: flex-start;
    cursor: pointer;
    margin: 10px;
    border-radius: 3px;
    width: 300px;
    background-color: #1c1d1f;
    padding-bottom: 5px;
    flex: 50%;
}

.post__item:hover {
    transition: .5s;
    background-color: #232324;
}

.post__item .info{
    margin: 7px;
}

.post__item__titulo {
    margin: 0 10px;
}

.post__item__titulo h1{
    font-size: 1.5rem;
}

.post__item .post__item__autor {
    font-size: 1rem;
    font-style: italic;
}

.post__item .post__item__data {
    font-size: .8rem;
}

.content__posts__item{
    margin: 25px;
}

.content__posts a{
    color: #d2dae2;
}

.content__posts__item #back_post{
    cursor: pointer;
    background-color: #ff3f34;
    color: #1e272e;
    padding: 10px;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;
}

.content__posts__item #back_post:hover{
    background-color: #ff5e57;
    transition: .5s;
}

.content__posts__item .posts__item{
    margin: 20px 0;
}

.content__posts__item .posts__item__info{
    display: flex;
}

.content__posts__item .posts__item__data{
    font-size: .8rem;
}

.content__posts__item .posts__item__user{
    font-size: .8rem;
    margin: 0 10px;
}

.content__posts__item .posts__item__content{
    max-width: 600px;
}

.content__posts__item .posts__item__content p{
    font-size: 1.2rem;
    word-spacing: 3.5px;
    margin: 45px 0;
    line-height: 1.58;
}

.d-none{
    display: none;
}

.post__item .post__item_new span{
    padding: 5px;
    background: #ff5e57;
    border-radius: 3px;
    text-shadow: 2px 2px #1e272e;
    font-weight: bold;
    position: absolute;
}

.post__item__img img{
    width: 100%;
}

#disqus_thread{
    width: 600px;
    margin: 0 auto;
}

@media screen and (max-width: 420px) {

    .content__posts{
        justify-content: center;
    }
    
    .post__item {
        width: 315px;
    }

    #disqus_thread{
        width: 360px;
        margin: 0 auto;
    }
    .post__item .post__item_new{
        width: 100px;
    }
}