.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #ffa801;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}
.back-to-top-icon {
    width: 1.4rem;
    height: 1.4rem;
    color: #7ac9f9;
}
  