<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
        <link rel="stylesheet" href="/public/css/admin.css">
        {% include "utils/login.css.twig" %}
        {% include "components/headQuilljs.twig" %}
        <script src="/public/js/modal.js"></script>
        <script src="/public/js/alert.js"></script>
    </head>
<body>
    <main>
        {% include "components/menuAdmin.twig" %}

        <section>
            <h1>Editar Post</h1>
            
            <form id="form__post">
                <div class="input__form">
                    <label for="titulo__form">Título</label>
                    <input class="input__form_field" type="text" id="titulo__form" value="{{data.titulo|raw}}">
                </div>
                <div class="input__form input__form_editor">
                    <label for="editor">Conteúdo</label>
                    <div id="toolbar"></div>
                    <div class="editor">
                        {{data.conteudo|raw}}
                    </div>
                </div>
                <input class="input__form_field input__form_btn btn-green" type="submit" value="Enviar">
            </form> 
        </section>
    </main>
    {% include "components/quilljs.twig" %}
    <script>
        const postId = "{{postId}}";
        var titulo__form = document.getElementById("titulo__form");

        modalInit("Deseja Publicar esse Post");
        alertSuccessInit("Publicação foi editada com sucesso!");
        alertErrorInit("Publicação não foi editada!");

        const form = document.getElementById("form__post")
        form.addEventListener('submit', async(e)=>{
            e.preventDefault();

            let responseModal = await modalFunction();

            if (!responseModal) {
                return
            }

            var conteudo__from = editor.root.innerHTML;
            var result = await consumeApi(`/posts/${postId}`, {
                    titulo: titulo__form.value,
                    conteudo: conteudo__from
                },
                "PUT"
            );

            if(result.error){
                alertErrorFunction();
                return
            }
            
            alertSuccessFunction();
            return
        });
    </script>

    {% include "scripts/icons.twig" %}
    <script src="/public/js/admin.js"></script>
</body>