<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
        <link rel="stylesheet" href="/public/css/admin.css">
        {% include "utils/login.css.twig" %}
        <script src="/public/js/modal.js"></script>
        <script src="/public/js/alert.js"></script>
    </head>
<body>
    <main>
        {% include "components/menuAdmin.twig" %}

        <section>
            <h1>Deletar Post</h1>
                <div class="input__form">
                    <label for="titulo__form">Título</label>
                    {{data.titulo|raw}}
                </div>
                <div class="input__form input__form_editor">
                    <label for="editor">Conteúdo</label>
                    {{data.conteudo|raw}}
                </div>
                <button id="btn_deletar" class="input__form_field input__form_btn btn-green" type="button">Deletar</button>
        </section>
    </main>
    {% include "scripts/icons.twig" %}
    <script src="/public/js/admin.js"></script>

    <script>
        const postId = "{{postId}}";

        const btnDelete = document.getElementById("btn_deletar");

        modalInit("Deseja deletar esse Post");
        alertSuccessInit("Publicação foi deletada com sucesso!");
        alertErrorInit("Publicação não foi deletada!");
        
        btnDelete.addEventListener("click", async ()=>{

            let responseModal = await modalFunction();

            if (!responseModal) {
                console.log(responseModal);
                return
            }

            var result = await consumeApi(`/posts/delete/${postId}`, null, "DELETE");

            if(!result.error){
                alertSuccessFunction();
                setTimeout(() => {
                    window.location.href = '/admin/posts';
                }, 2000);
                return
            }

            alertErrorFunction();
            alert("Erro ao excluir Post");

            console.log(result);
        });

    </script>
</body>