<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
        <link rel="stylesheet" href="/public/css/admin.css">
        {% include "utils/login.css.twig" %}
        <script src="/public/js/modal.js"></script>
        <script src="/public/js/alert.js"></script>
    </head>
<body>
    <main>
        {% include "components/menuAdmin.twig" %}

        <section>
            <h1>Imagens</h1>
            <div class="content__images">
                {% for key, content in data %}
                    <div class="content__images-item">
                        <img src="{{content.image}}" id="{{content.id}}" alt="" srcset="" style="width: 300px;">
                        <div class="btn" data-id-image="{{content.id}}">apagar</div>
                    </div>
                {% endfor %}
            </div>
        </section>
        
    </main>
    {% include "scripts/icons.twig" %}
    <script src="/public/js/admin.js"></script>
</body>