<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
        {% include "utils/login.css.twig" %}
    </head>
<body>
    <section>
            {% for content in data %}
            <div id="{{content.user_post}}" class="content__posts__item">
                <div class="posts__item">
                    <div class="posts__item__titulo"><h1>{{content.created_at}}</h1></div>
                    <div class="posts__item__info">
                        <div class="posts__item__data">{{content.titulo}}</div>
                        <div class="posts__item__user">{{content.user_post}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </section>
</body>