<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
        <link rel="stylesheet" href="/public/css/admin.css">
        {% include "utils/login.css.twig" %}
        {% include "components/headQuilljs.twig" %}
        <script src="/public/js/modal.js"></script>
        <script src="/public/js/alert.js"></script>
    </head>
<body>
    <main>
        {% include "components/menuAdmin.twig" %}

        <section>
            <h1>Novo Post</h1>
            
            <form id="form__post">
                <div class="input__form">
                    <label for="titulo__form">Título</label>
                    <input class="input__form_field" type="text" id="titulo__form" value="">
                </div>
                <div class="input__form">
                    <label for="titulo__form">Capa</label>
                    <input class="input__form_field" type="file" name="image" id="image" placeholder="Selecione Uma imagem" >
                </div>
                <div class="input__form input__form_editor">
                    <label for="editor">Conteúdo</label>
                    <div id="toolbar"></div>
                    <div id="editor" class="editor"></div>
                </div>
                <input class="input__form_field input__form_btn btn-green" type="submit" value="Enviar">
            </form>
        </section>
    </main>
    {% include "components/quilljs.twig" %}
    <script>

        const form = document.getElementById("form__post")

        modalInit("Deseja Publicar esse Post");

        async function sendImage() {
            alertErrorInit("Erro ao inserir imagem!");
            var inputImage = document.getElementById("image");
            if (inputImage.files[0]) {

                var dataImage = new FormData()
                dataImage.append('image', inputImage.files[0]);

                try {
                    var resImage = await fetch('/image/new', {
                        method: 'POST',
                        body: dataImage
                    }); 

                    return await resImage.json();

                } catch (error) {
                    return await error
                }              
            }

            return null
        }

        async function sendForm(img) {
            alertSuccessInit("Publicação feita com sucesso!");
            alertErrorInit("Publicação falhou!");

            var conteudo__from = editor.root.innerHTML;
            const userId = "{{id}}";
            var titulo__form = document.getElementById("titulo__form");

            try {
                var result = await consumeApi("/post/new", {
                        titulo: titulo__form.value,
                        conteudo: conteudo__from,
                        user_post: userId,
                        image: img
                    },
                    "POST"
                );
                return await result.json();
            } catch (error) {
                return await error
            }

            
        }

        form.addEventListener('submit', async (e)=>{
            e.preventDefault();
            const responseModal = await modalFunction();

            if (!responseModal) {
                return
            }

            var resImage = await sendImage();

            if (resImage.error) {
                alertErrorFunction();
                return
            }
            
            var formData = await sendForm(resImage.id)
            
            if(formData.error){
                alertErrorFunction();
                return
            }

            alertSuccessFunction();
            return
        });
    </script>

    {% include "scripts/icons.twig" %}
    <script src="/public/js/admin.js"></script>
    
</body>