<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
        <link rel="stylesheet" href="/public/css/admin.css">
        {% include "utils/login.css.twig" %}
        {% include "components/headQuilljs.twig" %}
        <script src="/public/js/modal.js"></script>
        <script src="/public/js/alert.js"></script>
    </head>
<body>
    <main>
        {% include "components/menuAdmin.twig" %}

        <section>
            <h1>Editar Post</h1>
            
            <form id="form__post">
                <div class="input__form">
                    <label class="image__select" for="image" style="cursor: pointer;">
                        <img class="element-modal" src="{{data.image}}" alt="image" width="300">
                    </label>
                </div>
                <div class="input__form">
                    <label for="titulo__form">Título</label>
                    <input class="input__form_field" type="text" id="titulo__form" value="{{data.titulo|raw}}">
                </div>
                <div class="input__form input__form_editor">
                    <label for="editor">Conteúdo</label>
                    <div id="toolbar"></div>
                    <div class="editor">
                        {{data.conteudo|raw}}
                    </div>
                </div>
                <input class="input__form_field input__form_btn btn-green" type="submit" value="Enviar">
            </form> 
        </section>
    </main>
    {% include "components/quilljs.twig" %}
    <script>
        const postId = "{{postId}}";
        var titulo__form = document.getElementById("titulo__form");

        modalInit("Deseja Publicar esse Post");
        alertSuccessInit("Publicação foi editada com sucesso!");
        alertErrorInit("Publicação não foi editada!");
        
        
        async function listImages() {
            try {
                const response = await fetch('/api/image');
                return await response.json();
            } catch (error) {
                console.error('Error fetching images:', error);
                return [];
            }
        }

        const form = document.getElementById("form__post")
        form.addEventListener('submit', async(e)=>{
            e.preventDefault();
            let responseModal = await modalFunction();
            var imagesData = getElementSelected()
            if (!responseModal) {
                return
            }

            if (imagesData == null) {
                alertErrorFunction();
                return
            }

            var conteudo__from = editor.root.innerHTML;
            var result = await consumeApi(`/api/posts/edit/${postId}`, {
                    titulo: titulo__form.value,
                    conteudo: conteudo__from,
                    image: imagesData.id
                },
                "PUT"
            );

            if(result.error){
                alertErrorFunction();
                return
            }
            
            alertSuccessFunction();
            return
        });

        const btnAddImage = document.querySelector('.image__select img');
        btnAddImage.addEventListener('click', async () => {
            let responseImages = await listImages();
            modalElementInit(responseImages.images);

            const responseModal = await modalElementsFunction();
            if (!responseModal) {
                return;
            }

            var imagesData = getElementSelected()
            btnAddImage.setAttribute("id", imagesData.id);
            btnAddImage.setAttribute("src", imagesData.image);
            btnAddImage.setAttribute("alt", "image");
            btnAddImage.setAttribute("width", "300");
            btnAddImage.setAttribute("style", "width: 300px; height: 200px;");
        
            return null
        });
    </script>

    {% include "scripts/icons.twig" %}
    <script src="/public/js/admin.js"></script>
</body>