<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/blogs.css">
    <link rel="stylesheet" href="/public/css/utils.css">
    <title>Thiago Novaes</title>
</head>
<body>
    <button class="back-to-top" title="back To Up">
        <svg xmlns="http://www.w3.org/2000/svg" class="back-to-top-icon" viewBox="0 0 512 512"><title>Caret Up</title><path d="M414 321.94L274.22 158.82a24 24 0 00-36.44 0L98 321.94c-13.34 15.57-2.28 39.62 18.22 39.62h279.6c20.5 0 31.56-24.05 18.18-39.62z"/></svg>
    </button>
    <header>
        <div class="header__menu">
            <nav>
                <div class="header__menu_items">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="content__posts"></div>
        </div>
    </section>

    <div id="disqus_thread" class="d-none"></div>
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://https-www-thiagonovaes-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <footer>
        <div class="footer-cards">
            <div class="container">      
                <div class="footer-card">
                    <div class="footer-card__title">O Que Acompanho</div>
                    <nav>
                        <div class="footer-card__contents">
                            <ul>
                                <li>
                                    <a href="https://www.omgubuntu.co.uk/" target="blank">
                                        OMG! Ubuntu
                                    </a>
                                </li>
                                <li>
                                    <a href="https://diolinux.com.br/" target="blank">
                                        Diolinux
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCqd9oVuR4tuKD5Y9AFwxz7Q" target="blank">
                                        Terminal Root
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.akitaonrails.com/" target="blank">
                                        AkitaOnRails
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="footer-card">
                    <div class="footer-card__title">
                        Contato
                    </div>
                    <div class="footer-card__contents">
                        <a href="https://www.linkedin.com/in/thiago-novaes-7b42b9172/" target="_blank">
                            <img class="icon" src="/public/assets/svg/logo-linkedin.svg" alt="Linkedin logo">
                        </a>
                        <a href="https://github.com/magobr" target="_blank">
                            <img class="icon" src="/public/assets/svg/logo-github.svg" alt="Github logo">
                        </a>
                        <a href="mailto:novaesthago@gmail.com" target="_blank">
                            <img class="icon" src="/public/assets/svg/mail.svg" alt="Email logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cop">© 2022 Thiago Novaes Sampaio dos Santos.</div>
        </div>
        <script id="dsq-count-scr" src="//https-www-thiagonovaes-com.disqus.com/count.js" async></script>
        <script src="/public/js/blog.js"></script>
        <script src="/public/js/utils.js"></script>
    </footer>
</body>
</html>