<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Thiago Novaes</title>
</head>
<body>
    <header>
        <div class="header__menu">
            <nav>
                <div class="header__menu_items">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">
            <div class="img-profile">
                <img src="/public/assets/img/36710189.jpg" alt="Profile img" >
            </div>
            <div class="name-profile">
                <h1>Thiago Novaes Sampaio dos Santos</h1>
            </div>
            <div class="skill-profile">
                <h3>Web Developer #PHP #NodeJs #ReactJs</h3>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="text-presentation">
                <p>👋 Olá, sou o Thiago.</p>
                <p>Eu trabalho como desenvolvedor no Grupo O Estado de São Paulo (Estadão).</p>
                <p>Apaixonado por computação, pesquisar sobre novas tecnologias é o que me anima.</p>
                <p class="frase">"Não importa o quanto consegue bater. O importante é o quanto consegue apanhar e seguir em frente" - <span>Balboa, Rocky</span></p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="social-redes">

            </div>
        </div>
    </section>

    <footer>
        <div class="footer-cards">
            <div class="container">      
                <div class="footer-card">
                    <div class="footer-card__title">O Que Acompanho</div>
                    <nav>
                        <div class="footer-card__contents">
                            <ul>
                                <li>
                                    <a href="https://www.omgubuntu.co.uk/" target="blank">
                                        OMG! Ubuntu
                                    </a>
                                </li>
                                <li>
                                    <a href="https://diolinux.com.br/" target="blank">
                                        Diolinux
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCqd9oVuR4tuKD5Y9AFwxz7Q" target="blank">
                                        Terminal Root
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.akitaonrails.com/" target="blank">
                                        AkitaOnRails
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="footer-card">
                    <div class="footer-card__title">
                        Contato
                    </div>
                    <div class="footer-card__contents">
                        <a href="https://www.linkedin.com/in/thiago-novaes-7b42b9172/" target="_blank">
                            <ion-icon class="icon" name="logo-linkedin"></ion-icon>
                        </a>
                        <a href="https://github.com/magobr" target="_blank">
                            <ion-icon class="icon" name="logo-github"></ion-icon>
                        </a>
                        <a href="mailto:novaesthago@gmail.com" target="_blank">
                            <ion-icon class="icon" name="mail"></ion-icon>
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=5511979549545&text=Ol%C3%A1!%20Vim%20do%20teu%20site." target="_blank">
                            <ion-icon class="icon" name="logo-whatsapp"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cop">© 2022 Thiago Novaes Sampaio dos Santos.</div>
        </div>

    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>