<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
    </head>
<body>
    <header>
        {% include "components/menu.twig" %}
        <div class="container">
            <div class="img-profile">
                <img src="/public/assets/img/36710189.jpg" alt="Profile img" >
            </div>
            <div class="name-profile">
                <h1>Thiago Novaes Sampaio dos Santos</h1>
            </div>
            <div class="skill-profile">
                <h3>Web Developer #PHP #NodeJs #ReactJs</h3>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="text-presentation">
                <p>👋 Olá, sou o Thiago.</p>
                <p>Eu trabalho como desenvolvedor no Grupo O Estado de São Paulo (Estadão).</p>
                <p>Apaixonado por computação, pesquisar sobre novas tecnologias é o que me anima.</p>
                <p class="frase">"Não importa o quanto consegue bater. O importante é o quanto consegue apanhar e seguir em frente" - <span>Balboa, Rocky</span></p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="social-redes">

            </div>
        </div>
    </section>
    
    <script src="/public/js/utils.js"></script>

    {% include "components/footer.twig" %}
    {% include "scripts/icons.twig" %}
</body>
</html>