    <header>
        <div class="menu"> 
            <div class="logo">
                <h1>Admin</h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/admin/posts">
                            <div class="item-menu-block">
                                <div class="icon__menu">
                                    <span class="material-symbols-outlined">view_list</span>
                                </div>
                                <div class="item_menu">
                                    Posts
                                </div>
                            </div>
                        </a>
                    </li>
                    {% if "usuarios" in user_acessos %}
                    <li>
                        <a href="/admin/posts/new">
                            <div class="item-menu-block">
                                <div class="icon__menu">
                                    <span class="material-symbols-outlined">post_add</span>
                                </div>
                                <div class="item_menu">
                                    Novo Post
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% if "usuarios" in user_acessos %}
                    <li>
                        <a href="#">
                            <div class="item-menu-block">
                                <div class="icon__menu">
                                    <span class="material-symbols-outlined">group</span>
                                </div>
                                <div class="item_menu">
                                    Usuários
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% if "usuarios" in user_acessos %}
                    <li>
                        <a href="/admin/image">
                            <div class="item-menu-block">
                                <div class="icon__menu">
                                    <span class="material-symbols-outlined">image</span>
                                </div>
                                <div class="item_menu">
                                    Imagens
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/user/logout">
                            <div class="item-menu-block">
                                <div class="icon__menu">
                                    <span class="material-symbols-outlined">logout</span>
                                </div>
                                <div class="item_menu">
                                    Logout
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>