<div class="header__menu">
    <nav>
        <div class="header__menu-logo"><a href="/">Thiago Novaes</a></div>
        <div class="header__menu_items">
            <div>
                <a id="menu-icon"><ion-icon class="icon" name="menu"></ion-icon></a>
                <a id="close-menu-icon"><ion-icon class="icon" name="close"></ion-icon></a>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</div>



