<div class="header__menu">
    <nav>
        <div class="header__menu_items">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</div>



