    <header>
        <div class="menu"> 
            <nav>
                <ul>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Novo Post</a></li>
                    <li><a href="#">Usuários</a></li>
                </ul>
                <div id="logout" class="logout"><a href="/user/logout">Sair</a></div>
            </nav>
        </div>
    </header>