<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/error.css">
    <title>Thiago Novaes</title>
</head>
<body>

    <section>
        <div class="container">
            <div class="text-presentation__errror">
                <img src="/public/assets/svg/construct-outline.svg" alt="">
                <div class="error">
                    <h1>403</h1>
                    <p>Página Proibida</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-cards">
            <div class="container">      
                <div class="footer-card">
                    <div class="footer-card__title">O Que Acompanho</div>
                    <nav>
                        <div class="footer-card__contents">
                            <ul>
                                <li>
                                    <a href="https://www.omgubuntu.co.uk/" target="blank">
                                        OMG! Ubuntu
                                    </a>
                                </li>
                                <li>
                                    <a href="https://diolinux.com.br/" target="blank">
                                        Diolinux
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCqd9oVuR4tuKD5Y9AFwxz7Q" target="blank">
                                        Terminal Root
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.akitaonrails.com/" target="blank">
                                        AkitaOnRails
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="footer-card">
                    <div class="footer-card__title">
                        Contato
                    </div>
                    <div class="footer-card__contents">
                        <a href="https://www.linkedin.com/in/thiago-novaes-7b42b9172/" target="_blank">
                            <img class="icon" src="/public/assets/svg/logo-linkedin.svg" alt="Linkedin logo">
                        </a>
                        <a href="https://github.com/magobr" target="_blank">
                            <img class="icon" src="/public/assets/svg/logo-github.svg" alt="Github logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cop">© 2022 Thiago Novaes Sampaio dos Santos.</div>
        </div>

    </footer>
</body>
</html>