<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="en">
        {% include "components/head.twig" %}
    <body>
</head>
<body>
    <header>
        {% include "components/menu.twig" %}
    </header>
    
    <section>
        <div class="container">
            <div class="text-presentation__errror">
                <img src="/public/assets/svg/construct-outline.svg" alt="">
                <div class="error">
                    <h1>403</h1>
                    <p>Página Proibida</p>
                </div>
            </div>
        </div>
    </section>

    {% include "components/footer.twig" %}
    {% include "scripts/icons.twig" %}
</body>
</html>